/* PLACE YOU CUSTOM STYLES IN THIS FILE */

.accordion {
	margin-top: 60px; /* Add space above accordion */
}
.accordion .card {
	border-radius: 0;
	border-width: 1px 0 1px 0;
}
.accordion .card:first-child {
	border-top: none;
}
.accordion .card .card-header {

	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 0;
	margin-bottom: -2px;
}
.accordion .card-header:hover {
	background: rgb(173, 24, 24);
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header .btn {
	font-size: 1.34rem;
	font-weight: 500;
	width: 100%;
	text-align: left;
	position: relative;
	top: -2px;
}
.accordion .card-header i {
	float: right;
	font-size: 1.3rem;
	font-weight: bold;
	position: relative;
	top: 5px;
}
.accordion .card-header button:hover {
	color: rgba(173, 24, 24);
}
.accordion .card-body {
	background: #eaeaea;
	color: #595959;
}
.accordion .highlight {
	color: #fff;
	background: rgba(173, 24, 24) !important;
}

.ele-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(255, 255, 255);
}

.ele-card-body {
     background-image: radial-gradient(at 145px 61px, rgba(173, 24, 24, 0.28) 0%, rgba(255, 165, 4, 0) 89%);
     box-shadow: inset 0 0 5px 0 rgba(173, 24, 24), inset 0 1px 33px 0 rgb(255 165 4 / 17%);
     padding: 20px 15px;
     color: rgba(173, 24, 24);
     line-height: 1.4;
     position: relative;
}


